<footer id="footwrapper">
        <div class="social-media-container">
            <div class="social-media">
                <a class="social-media-icons" href="" title="Twitter">
                    <span class="icon-twitter"></span>
                </a>
                <a class="social-media-icons" href="" title="Instagram">
                    <span class="icon-instagram"></span>
                </a>
                <a class="social-media-icons" href="" title="facebook">
                    <span class="icon-facebook"></span>
                </a>

            </div>
        </div>
        <div class="footer-container">
            <!-- Reset -->
            {% assign counter = 0 | plus:1 %}
            <main class="flexwrapper">
                <div class="footer-showcase"> 
                    <img class="showcase-image" src="{{site.baseurl}}/assets/images/concert1.jpg"> 
                </div>
                <div class="footer-showcase">
                    <img class="showcase-image" src="{{site.baseurl}}/assets/images/concert2.jpg"> 
                </div>
                <div class="footer-showcase">
                    <img class="showcase-image" src="{{site.baseurl}}/assets/images/concert3.jpg"> 
                </div>
                <div class="footer-showcase">
                    <img class="showcase-image" src="{{site.baseurl}}/assets/images/concert4.jpg"> 
                </div>
            </main>
            <aside class="contact-info">
                    <span class="icon-skull logo">
                    <ul class="info">
                        <li>Upplýsingar</li>
                        <li>nafn: Z-Rock</li>
                        <li>Tel: 1234 5678</li>
                        <li>Laugardalsvöllur</li>
                        <li><a href="{{site.baseurl}}/credit">Credit</a></li>
                    </ul>
                    <small class="copyright">Sveinn, Óli &#169; 2019</small>
            </aside>
        </div>
    </footer>