:root {
  --header-font: 'Anton', sans-serif;
  
}
* {
  // font-family: var(--secondary-font);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//sticky footer, might not be needed depending on footer
html, body {
  height: 100%;
}

.html {
  scroll-behavior: smooth;
}

img {
  display:block;
  width: 100%; 
  height: auto;
}

h1 h2 h3 h4 h5 h6 {
  font-family: var(--header-font);
  line-height: 1.5;
}

a {
  text-decoration: none;
}


@mixin mainBorder($color:#fff, $border1:border,  $border2:none) {
    #{$border1}:3px solid;
    #{$border2}:3px solid;
    border-color: #{$color};
  }
  
@mixin transLink {
  transition: all 0.4s ease;
}

  @mixin flexCenter {
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  @mixin backgroundRgba($opacity:0.75) {
    background: rgba(25, 25, 25, $opacity);
  }


$mainColor:#b3b3b3;
$secondaryColor: #030303;

//Litur fyrir active í nav menu
$themeColor: #9147FF;

//Bakgrunnur fyrir headerin
$backgroundColor:  #161616;

//Bagrunnur fyrir hamburgerinn
$backgroundRgba: rgba(25, 25, 25, 0.75);

.base-container {
  margin: 5em auto 0 auto;
}

