:root {
  --header-font: 'Anton', sans-serif;
  --secondary-font: 'Rambla', sans-serif;
  --metal-font: 'Metal Mania', cursive;
}
* {
  font-family: var(--secondary-font);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//sticky footer, might not be needed depending on footer
html, body {
  height: 100%;
}

.html {
  scroll-behavior: smooth;
}

img {
  display:block;
  width: 100%; 
  height: auto;
}

h1 h2 h3 h4 h5 h6 {
  font-family: var(--header-font);
  line-height: 1.5;
}

a {
  text-decoration: none;
}
//Icomoon
@font-face {
  font-family: 'icomoon';
  src:  url('../lokaverkefni/assets/fonts/icomoon.eot?jvv8e2');
  src:  url('../fonts/icomoon.eot?jvv8e2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jvv8e2') format('truetype'),
    url('../fonts/icomoon.woff?jvv8e2') format('woff'),
    url('../fonts/icomoon.svg?jvv8e2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-skull:before {
  content: "\e900";
  color:#fff;
  font-size: 3.2em;
  position: relative;
  left: 10px;
}

@mixin mainBorder($color:#fff, $border1:border,  $border2:none) {
    #{$border1}:3px solid;
    #{$border2}:3px solid;
    border-color: #{$color};
  }
  
@mixin transLink {
  transition: all 0.4s ease;
}

  @mixin flexCenter {
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  @mixin backgroundRgba($opacity:0.75) {
    background: rgba(25, 25, 25, $opacity);
  }


$mainColor:#b3b3b3;
$secondaryColor: #030303;

//Litur fyrir active í nav menu
$themeColor: #9147FF;

//Bakgrunnur fyrir headerin
$backgroundColor:  #161616;

//Bagrunnur fyrir hamburgerinn
$backgroundRgba: rgba(25, 25, 25, 0.75);

.base-container {
  margin: 5em auto 0 auto;
  width: 80em; 
}

@media screen and(max-width: 80em) {
  .base-container {
    width: auto;
  }
}

