* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@mixin mainBorder($color:$whiteColor, $border1:border,  $border2:none) {
    #{$border1}:2px solid;
    #{$border2}:2px solid;
    border-color: #{$color};
  }
  
  @mixin sRadius($radius:10px) {
    border-radius: #{$radius};
  }
  
  @mixin transLink {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  @mixin flexCenter {
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  @mixin boxShadow {
    box-shadow: 0 0 7px 1px black;
  }
  
  @mixin backgroundRgba($opacity:0.75) {
    background: rgba(25, 25, 25, $opacity);
  }
  $mainColor:#b3b3b3;
$secondaryColor: #030303;
$themeColor: #9147FF;
$iconColor: #743a8a;
$linkColor:rgb(35, 100, 170);
$whiteColor: #fffffe;

//Background for header and footer
$backgroundColor:  #161616;
//Background for games
$backgroundGames: linear-gradient(#32143d, #582c68);

//Hamburger
$backgroundRgba: rgba(25, 25, 25, 0.75);

//Footer
$backgroundGradient: linear-gradient(to top right,rgba( 22, 22, 22, 0.6), 70%, rgba(82, 42, 97, 0.6));
$newsBackground: linear-gradient(to top right ,rgb(17, 14, 14), 35%, rgb(30, 22, 102));