.music-wrapper {
    width: 70em;
    margin: 0 auto;
}

.musician-heading {
    text-align: center;
    width: 30%;
    margin: 0 auto 0.2em;
    background: rgba(0, 0, 0, .85);
    font-family: var(--metal-font);
    font-size: 2em;
    color:#fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.musician-showcase {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row;
}

.musician {
    @include flexCenter();
    flex-direction: column;
    margin: 0 20px;
    flex: 46.5%;
    margin: 1em 1em;
}


.musician form {
    display:flex;
    text-align: center;
    width: 100%;
}

.musician label{
    @include flexCenter();
    background:rgba(135, 206, 250, .75);
    color: $secondaryColor;
    font-size: 1.25em;
    font-weight: bold;
    width: 24%;
    border-top-left-radius: 10px;
}

.musician input[type=email], .musician input[type=submit] {
    width: 38%;
    margin:0;
    padding: 0.5em;
    outline:none;
    border: 2px solid;
    border-color: black;
    &:focus {
        border-color:$themeColor;
    }
}
.musician input[type=submit] {
    cursor:pointer;
    border-top-right-radius: 10px;
    background:rgba(167, 27, 27, 1);
    color:white;
    &:hover {
        background:rgba(167, 25, 26, .9);
    }
}

//Start-- Information about musician
.musician-case {
    width: 100%;
    height:100%;
    margin: 0 15px;
    border: 2px solid;
    position: relative;
}

.musician-info {
    @include flexCenter();
    position: absolute;
    font-family: var(--metal-font);
    top: 0;
    z-index: 100;
    font-size: 1.5em;
    background:rgba(0, 0, 0, .75);
    width: 100%; height: 100%;
    color: orangered;
    font-weight: bold;
    transition: background-color 0.4s ease, color 0.2s linear;
    &:hover {
        background:rgba(0, 0, 0, 0);
        color:black;
    }
}

.musician-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.musician-bio {
    background:rgba(0, 0, 0, .75);
    color:white;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
    word-break: break-word;
}

.musician-time {
    background: rgba(0, 0, 0, .75);
    color:white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.time {
    color: lightgrey;
}

.musician button {
    padding: 6px;
    font-size: 1.2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    cursor:pointer; 
    border:2px solid;
    background:rgba(0, 0, 0, .70);
    color:#fff;
    transition: all 0.2s ease;
    &:active {
        transform: translateY(1px);
    }
    &:hover {
        background: rgba(0, 0, 0, .95);
    }
}

@media screen and (max-width: 71em) {
    .music-wrapper {
        width: auto;
    }
    
}

@media screen and(max-width: 50em) {
    .musician-heading {
        // width: 55%
    }  
}

@media screen and(max-width: 30em) {
    .musician-heading {
        width: 100%;
        border-radius: 0;
    }
    .musician label {
        font-size: 1.1em;
    }
    .musician form {
        display:flex;
        flex-wrap:wrap;
    }
    .musician input[type=submit] {
        flex: 100%;
        border-radius: 0;
    }
    .musician input[type=email] {
        flex: 70%;
        border-top-right-radius: 10px;
    }
}


