

//Information about the music festival homepage
.location-container {
    display:flex;
    justify-content: center;
}

.heading-map {
    text-align: center;
    width: 30%;
    margin:0 auto 0;
    background: rgba(0,0,0,0.85);
    color:white;
    border-radius: 10px;
    font-family: var(--metal-font);
    font-size: 2em;
}

.heading {
    text-align: center;
    width: 30%;
    margin: 1.5em auto 0;
    background: rgba(255, 255, 255, .85);
    border-radius: 10px;
    font-family: var(--metal-font);
    font-size: 2em;
}

.map-iframe {
    width: 30em;
    height: 30em;
    border: 2px solid black;
}


.information {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    background:$secondaryColor;
    border: 2px solid rgb(224, 152, 17);
    color:white;
    border-radius: 15px;
    text-align: center;
}

.information:last-child {
    margin-bottom: 2em;
}


// Information about start of concert
.concert-start {
    @include flexCenter();
    width: 100%;
    margin: 0.75em auto;
    flex-wrap:wrap;
}

.concert-item {
    background: rgba(245, 26, 26, .85);
    position: relative;
    @include flexCenter();
    height: 4em;
    margin: 10px 10px 20px;
    border-radius: 10px;
    &:hover {
        background: rgba(245, 26, 26, 1);
    }
}

.item-date {
    color:white;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    line-height: 2.5em;
    height: 100%;
    width: 100%;
}


@media screen and(max-width: 50em) {
    .heading {
        width: 55%
    }
    .heading-map {
        width: 55%
    }
    .map-iframe {
        width: 100%;
    }
    .information {
        width: 100%;
    }
    
}

@media screen and(max-width: 30em) {
    .heading {
        width: 100%
    }
    .heading-map {
        width: 100%
    }
    
    .concert-item {
        flex:40%;
    }
}




